@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");
html {
  font-size: 62.5%; }
  @media only screen and (max-width: 57em) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 25.875em) {
    html {
      font-size: 50%; } }

*, *::after, *::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

body {
  font-size: 1.6rem;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  position: relative; }

.bg {
  position: absolute;
  z-index: -11;
  top: -18%;
  right: -8%; }
  @media only screen and (max-width: 25.875em) {
    .bg {
      width: 100%;
      top: -8%;
      right: -10%; } }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 16rem; }
  @media only screen and (max-width: 57em) {
    .header {
      position: relative; } }
  @media only screen and (max-width: 25.875em) {
    .header {
      padding: 5rem 2rem; } }
  .header__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 57em) {
      .header__navigation {
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 120%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 8px;
        background: #fafafa;
        padding: 3.8rem 0;
        min-width: 32.6rem;
        display: none;
        transition: all .3s ease-in;
        z-index: 4; } }
    .header__navigation--link {
      text-decoration: none;
      color: #242d52;
      font-weight: 500;
      transition: all 0.3s ease;
      cursor: pointer; }
      @media only screen and (max-width: 57em) {
        .header__navigation--link {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 100%;
          font-weight: 700; } }
      .header__navigation--link:not(:last-child) {
        margin-right: 3rem; }
        @media only screen and (max-width: 57em) {
          .header__navigation--link:not(:last-child) {
            margin-right: 0;
            margin-bottom: 2.6rem; } }
      .header__navigation--link:active, .header__navigation--link:hover {
        color: #9095a7; }
  .header__cta {
    padding: 1.4rem 3.2rem;
    background: #f25f3a;
    color: #ffefeb;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 500;
    transition: all 0.3s ease;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 8px 10px #e88e78; }
    .header__cta:active, .header__cta:hover {
      background: #e88e78; }
    @media only screen and (max-width: 57em) {
      .header__cta {
        display: none; } }
  .header__mobile-nav {
    display: none;
    cursor: pointer; }
    @media only screen and (max-width: 57em) {
      .header__mobile-nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all .4s ease; } }

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 16rem; }
  @media only screen and (max-width: 57em) {
    .hero {
      flex-direction: column-reverse;
      justify-content: center;
      position: relative;
      z-index: 1; } }
  @media only screen and (max-width: 25.875em) {
    .hero {
      padding: 0 2rem;
      margin-bottom: 9rem; } }
  .hero__blanket {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    display: none;
    position: absolute; }
    @media only screen and (max-width: 57em) {
      .hero__blanket {
        top: 0;
        z-index: 2; } }
  .hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 50%;
    margin-right: 4rem; }
    @media only screen and (max-width: 57em) {
      .hero__content {
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        min-width: 100%; } }
    .hero__content--heading {
      font-size: 5.6rem;
      font-weight: 700;
      color: #242d52;
      margin-bottom: 2.8rem; }
      @media only screen and (max-width: 57em) {
        .hero__content--heading {
          min-width: 100%;
          text-align: center; } }
    .hero__content--text {
      color: #9095a7;
      margin-bottom: 3.2rem;
      width: 70%; }
      @media only screen and (max-width: 57em) {
        .hero__content--text {
          min-width: 100%;
          text-align: center; } }
    .hero__content--cta {
      padding: 1.4rem 3.2rem;
      background: #f25f3a;
      color: #ffefeb;
      font-family: "Be Vietnam Pro", sans-serif;
      font-weight: 500;
      transition: all 0.3s ease;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      box-shadow: 0 8px 10px #e88e78; }
      .hero__content--cta:active, .hero__content--cta:hover {
        background: #e88e78; }
  .hero__image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 50%; }
    @media only screen and (max-width: 25.875em) {
      .hero__image--img {
        height: 100%;
        width: 100%; } }

.information {
  padding: 5rem 16rem;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 15rem; }
  @media only screen and (max-width: 57em) {
    .information {
      flex-direction: column;
      justify-content: center; } }
  @media only screen and (max-width: 25.875em) {
    .information {
      padding: 0 2rem; } }
  .information__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 12rem;
    width: 50%; }
    @media only screen and (max-width: 57em) {
      .information__text {
        margin-right: 0;
        align-items: center;
        width: 100%;
        margin-bottom: 4.8rem; } }
    .information__text--heading {
      font-size: 4.4rem;
      font-weight: 700;
      color: #242d52;
      margin-bottom: 2.6rem; }
      @media only screen and (max-width: 57em) {
        .information__text--heading {
          width: 100%;
          text-align: center; } }
    .information__text--content {
      color: #9095a7;
      width: 80%; }
      @media only screen and (max-width: 57em) {
        .information__text--content {
          width: 100%;
          text-align: center; } }
  .information__point {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%; }
    @media only screen and (max-width: 57em) {
      .information__point {
        width: 100%; } }
    .information__point--points {
      display: grid;
      grid-template-columns: min-content 1fr;
      grid-template-rows: min-content min-content;
      column-gap: 2rem; }
      @media only screen and (max-width: 57em) {
        .information__point--points {
          width: 100%;
          row-gap: 2rem; } }
      @media only screen and (max-width: 25.875em) {
        .information__point--points {
          width: 100%;
          column-gap: 0; } }
      .information__point--points:not(:last-child) {
        margin-bottom: 3.8rem; }
      .information__point--points--num {
        padding: 1.2rem 2.4rem;
        background: #f25f3a;
        color: #ffefeb;
        font-weight: 500;
        font-family: "Be Vietnam Pro", sans-serif;
        border-radius: 50px; }
        @media only screen and (max-width: 25.875em) {
          .information__point--points--num {
            position: relative; }
            .information__point--points--num::before {
              content: "01";
              padding: 1.2rem 2.4rem;
              top: 0;
              left: 30%;
              background: #ffefeb;
              position: absolute;
              border-radius: 50px;
              z-index: -11; } }
      .information__point--points--heading {
        color: #242d52;
        font-weight: 700;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center; }
        @media only screen and (max-width: 25.875em) {
          .information__point--points--heading {
            background: #ffefeb;
            padding-left: 1rem; } }
      .information__point--points--text {
        grid-column: 2/3;
        color: #9095a7;
        width: 100%; }
        @media only screen and (max-width: 25.875em) {
          .information__point--points--text {
            grid-column: 1/3;
            line-height: 2.4rem; } }

.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 16rem;
  padding-bottom: 2rem;
  overflow: hidden; }
  .review__heading {
    width: 100%;
    text-align: center;
    font-size: 4.4rem;
    font-weight: 700;
    color: #242d52;
    margin-bottom: 10rem; }
  .review__list {
    width: 100%;
    margin-bottom: 4.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .review__list--strip {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      animation: animation 20s linear infinite;
      width: calc(56.6rem * 4); }
      .review__list--strip--item {
        width: 54rem;
        height: 22.4rem;
        padding: 0 2.8rem 2.8rem 2.8rem;
        background: #fafafa;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .review__list--strip--item:not(:last-child) {
          margin-right: 2.6rem; }
        .review__list--strip--item--img {
          width: 7rem;
          height: 7rem;
          transform: translateY(-60%); }
        .review__list--strip--item--name {
          color: #242d52;
          font-weight: 700;
          margin-bottom: 2.8rem; }
        .review__list--strip--item--text {
          color: #9095a7;
          width: 100%;
          text-align: center; }
  .review__cta {
    padding: 1.4rem 3.2rem;
    background: #f25f3a;
    color: #ffefeb;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 500;
    transition: all 0.3s ease;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 8px 10px #e88e78; }
    .review__cta:active, .review__cta:hover {
      background: #e88e78; }

@keyframes animation {
  0% {
    transform: translateX(40rem); }
  100% {
    transform: translateX(-48rem); } }

.cta {
  padding: 5.2rem 16rem;
  background: #f25f3a;
  background-image: url("../images/bg-simplify-section-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 57em) {
    .cta {
      flex-direction: column; } }
  @media only screen and (max-width: 25.875em) {
    .cta {
      flex-direction: column;
      padding: 8.5rem 2rem;
      background-image: url("../images/bg-simplify-section-mobile.svg");
      background-size: contain; } }
  .cta__header {
    color: #ffefeb;
    font-size: 4.4rem;
    font-weight: 500; }
    @media only screen and (max-width: 57em) {
      .cta__header {
        text-align: center;
        margin-bottom: 2.4rem; } }
    @media only screen and (max-width: 25.875em) {
      .cta__header {
        text-align: center;
        margin-bottom: 2.4rem; } }
  .cta__button {
    padding: 1.4rem 3.2rem;
    background: #fff;
    color: #f25f3a;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    transition: all 0.3s ease;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 8px 10px #e88e78; }

.footer {
  padding: 5.2rem 16rem;
  background: #1d1e25;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative; }
  @media only screen and (max-width: 57em) {
    .footer {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center;
      padding: 4.2rem 2rem 2.2rem 2rem; } }
  .footer__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 57em) {
      .footer__header {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 4rem; } }
    .footer__header--logo {
      margin-bottom: 8rem; }
      @media only screen and (max-width: 57em) {
        .footer__header--logo {
          margin-bottom: 0; } }
    .footer__header--logos {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      @media only screen and (max-width: 57em) {
        .footer__header--logos {
          margin-bottom: 4.2rem; } }
      .footer__header--logos--item {
        transition: all 0.3s ease;
        cursor: pointer; }
        .footer__header--logos--item:hover svg path {
          fill: #f25f3a; }
        .footer__header--logos--item:not(:last-child) {
          margin-right: 1.2rem; }
          @media only screen and (max-width: 57em) {
            .footer__header--logos--item:not(:last-child) {
              margin-right: 2.8rem; } }
  .footer__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; }
    @media only screen and (max-width: 57em) {
      .footer__list {
        margin-bottom: 4rem;
        width: 100%; } }
    .footer__list--1 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      margin-right: 22rem; }
      .footer__list--1--item {
        text-decoration: none;
        color: #ffefeb; }
        .footer__list--1--item:hover, .footer__list--1--item:active {
          color: #f25f3a; }
        .footer__list--1--item:not(:last-child) {
          margin-bottom: 1.8rem; }
      @media only screen and (max-width: 57em) {
        .footer__list--1 {
          margin-right: 11rem; } }
    .footer__list--2 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start; }
      .footer__list--2--item {
        text-decoration: none;
        color: #ffefeb; }
        .footer__list--2--item:hover, .footer__list--2--item:active {
          color: #f25f3a; }
        .footer__list--2--item:not(:last-child) {
          margin-bottom: 1.8rem; }
  .footer__cta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 57em) {
      .footer__cta {
        margin-bottom: 4rem;
        width: 100%; } }
    .footer__cta--input {
      padding: 1.2rem 2.4rem;
      border-radius: 50px;
      outline: none;
      margin-right: 0.8rem;
      font-size: 1.6rem;
      font-family: "Be Vietnam Pro", sans-serif;
      font-weight: 500; }
      .footer__cta--input::placeholder {
        font-size: 1.2rem; }
    .footer__cta--cta {
      padding: 1.2rem 2.4rem;
      border-radius: 50px;
      background: #f25f3a;
      font-family: "Be Vietnam Pro", sans-serif;
      font-weight: 500;
      color: #ffefeb;
      cursor: pointer;
      border: none; }
      .footer__cta--cta:active, .footer__cta--cta:hover {
        background-color: #e88e78; }
  .footer__copyright {
    color: #fafafa;
    font-size: 1.2rem;
    position: absolute;
    bottom: 20%;
    right: 10%;
    text-align: center; }
    @media only screen and (max-width: 57em) {
      .footer__copyright {
        bottom: 8%;
        left: 50%;
        right: 0%;
        transform: translateX(-50%); } }
