@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;700&display=swap");
html {
  font-size: 62.5%;
}

*, *::after, *::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1.6rem;
  color: hsl(227deg, 12%, 61%);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 16.4rem;
  background-image: url("../images/bg-tablet-pattern.svg");
  background-repeat: none;
  background-size: cover;
}
.header__navigation {
  width: 100%;
  background: transparent;
  padding: 5.4rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__navigation--list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.header__navigation--list--item {
  color: hsl(228deg, 39%, 23%);
  font-weight: 400;
  text-decoration: none;
  transition: all 0.3s ease;
}
.header__navigation--list--item:not(:last-child) {
  margin-right: 2.4rem;
}
.header__navigation--list--item:active, .header__navigation--list--item:hover {
  color: hsl(227deg, 12%, 61%);
}
.header__navigation--cta {
  padding: 1.4rem 2.4rem;
  color: hsl(13deg, 100%, 96%);
  background: hsl(12deg, 88%, 59%);
  border: none;
  border-radius: 30px;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Be Vietnam Pro", sans-serif;
  box-shadow: 0 10px 6px hsl(13deg, 100%, 96%);
  cursor: pointer;
}
.header__navigation--cta:active, .header__navigation--cta:hover {
  background: hsl(12deg, 75%, 65%);
}

.footer {
  background: hsl(233deg, 12%, 13%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5.4rem 16.4rem;
  position: relative;
  height: 100%;
}
.footer__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.footer__header--image {
  margin-bottom: 7.6rem;
}
.footer__header--logo-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer__header--logo-list--item {
  transition: all 0.3s ease;
  cursor: pointer;
}
.footer__header--logo-list--item:hover svg path {
  fill: hsl(12deg, 88%, 59%);
}
.footer__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.footer__nav--1 {
  margin-right: 21rem;
}
.footer__nav--1--item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-decoration: none;
  color: hsl(13deg, 100%, 96%);
  font-weight: 400;
  transition: all 0.3s ease;
}
.footer__nav--1--item:hover {
  color: hsl(12deg, 88%, 59%);
}
.footer__nav--1--item:not(:last-child) {
  margin-bottom: 1.8rem;
}
.footer__nav--2--item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-decoration: none;
  color: hsl(13deg, 100%, 96%);
  font-weight: 400;
  transition: all 0.3s ease;
}
.footer__nav--2--item:hover {
  color: hsl(12deg, 88%, 59%);
}
.footer__nav--2--item:not(:last-child) {
  margin-bottom: 1.8rem;
}
.footer__cta {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.footer__cta--input {
  padding: 1.8rem 3rem 1.8rem 1.8rem;
  border-radius: 30px;
  border: none;
  font-size: 1.4rem;
  margin-right: 1rem;
  outline: none;
  font-weight: 500;
  color: hsl(228deg, 39%, 23%);
}
.footer__cta--input::placeholder {
  font-size: 1.4rem;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
}
.footer__cta--btn {
  height: 100%;
  padding: 1.8rem 2.4rem;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  color: hsl(13deg, 100%, 96%);
  background: hsl(12deg, 88%, 59%);
  border: none;
  border-radius: 30px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.footer__cta--btn:active, .footer__cta--btn:hover {
  background: hsl(12deg, 75%, 65%);
}
.footer__copyrights {
  position: absolute;
  font-size: 1.4rem;
  bottom: 20%;
  right: 10%;
}/*# sourceMappingURL=main.css.map */