
html{
    font-size: 62.5%;

    @include breakpoint($bp-tablet){
        font-size: 55%;
    }
    @include breakpoint($bp-mobile){
        font-size: 50%;
    }
}

*,*::after,*::before{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body{
    font-size: $font-size;
    font-family: $font-family;
    font-weight: $font-weight-1;
    overflow-x: hidden;
    position: relative;
}

.bg{
    position: absolute;
    z-index: -11;
    top:-18%;
    right: -8%;
    @include breakpoint($bp-mobile){
        width: 100%;
        top:-8%;
        right: -10%;
    }
}