.header{
    @include flex(column,center,center);
    height: 100vh;
    padding: 0 $body-padding-LR;
    position: relative;
    overflow:hidden;
    &__bg-image{
        position: absolute;
        z-index:-1;
        right: -10%;
        top:-26%;
    }
    &__navigation{
        width: 100%;
        background: transparent;
        padding: 5.4rem 0;
        @include flex(row,space-between,center);
        
        &--list{
            @include flex(row,center,center);
            height: 100%;
            &--item{
                color:$color-primary-dark-blue;
                font-weight: $font-weight-2;
                text-decoration: none;
                transition: all .3s ease;
                &:not(:last-child){
                    margin-right: 2.4rem;
                }
                &:active,&:hover{
                    color:$color-second-dark-grayish-blue;
                }
            }
        }
        
        &--cta{
            @include MainBtn(1.4rem,2.4rem,$color-primary-bright-red,$color-second-very-pale-red);
            &:active,&:hover{
                background: $color-hover;
            }
        }
    }
    
    &__hero{
        width: 100%;
        padding: 5.4rem 0;
        @include flex(row,space-between,center);
        
        &--content{
            @include flex(column,center,flex-start);
            margin-right: 8rem;
            &--heading{
                font-size:$font-size-heading;
                color:$color-primary-dark-blue;
                font-weight: $font-weight-4;
                margin-bottom: 3.2rem;
            }
            &--text{
                margin-bottom: 3.2rem;
                width: 100%;
            }
            &--cta{
                @include MainBtn(1.4rem,3rem,$color-primary-bright-red,$color-second-very-pale-red);
                transition: all 0.3s ease;
                &:active,&:hover{
                    background: $color-hover;
                }
            }
        }
    }
}