.review{
    @include flex(column,center,center);
    margin-bottom: 16rem;
    overflow: hidden;
    &__heading{
        width:100%;
        text-align:center;
        font-size: $font-size-sub-heading;
        font-weight: $font-weight-3;
        color:$color-primary-dark-blue;
        margin-bottom: 10rem;
    }
    &__list{
        width: 100%;
        margin-bottom: 4.2rem;
        @include flex(row,center,center);
        
        &--strip{
            @include flex(row,center,center);
            animation: animation 20s linear infinite;
            width: calc(56.6rem * 4);
            &--item{
            width: 54rem;
            height: 22.4rem;
            padding:  0 2.8rem 2.8rem 2.8rem;
            background: $color-neutral-very-light-gray;
            @include flex(column, center,center);
            &:not(:last-child){
                margin-right: 2.6rem;
            }
            &--img{
                width:7rem;
                height:7rem;
                transform: translateY(-60%);
            }
            &--name{
                color:$color-primary-dark-blue;
                font-weight: $font-weight-3;
                margin-bottom: 2.8rem;
            }
            &--text{
                color:$color-neutral-dark-grayish-blue;
                width: 100%;
                text-align: center;
            }

        }

    }
        
        

    }

    &__cta{
        @include btn;
        &:active,&:hover{
            background: $color-box-shadow;
        }
    }
     
}

@keyframes animation {
    0%{
        transform: translateX(40rem);
    }
    100%{
        transform: translateX(-48rem);
    }
    
}