.slider{
    @include flex(column, center,center);
    padding: 5.4rem 0;
    overflow-x: hidden;
    &__heading{
        font-size: $font-size-subheading;
        color:$color-primary-dark-blue;
        margin-bottom: 10rem;
    }

    &__container{
        @include flex(row,center,center);
        &--slide{
            @include flex(column,center,center);
            width: 53.8rem;
            height: 22rem;
            background: $color-second-very-light-gray;
            padding: 0 4rem 4rem 4rem;
            margin:0 3.2rem;
            &--avatar{
                height: 7.4rem;
                width: 7.4rem;
                border-radius: 100%;
                transform: translateY(-50%);
            }
            &--name{
                color:$color-second-very-dark-blue;
                font-weight: $font-weight-4;
                margin-bottom: 2.4rem;
            }
            &--content{
                width: 100%;
                text-align: center;
            }
        }
    }
}