.slider{
    @include flex(column, center,center);
    padding: 5.4rem 0 17rem 0;
    overflow: hidden;
    position: relative;
    &__heading{
        font-size: $font-size-subheading;
        color:$color-primary-dark-blue;
        margin-bottom: 10rem;
    }

    &__container{
        z-index: 4;
        @include flex(row,space-between,center);
        height: 30rem;
        width: calc(56rem*4);
        animation: scroll 20s linear infinite;
        &--slide{
            @include flex(column,center,center);
            width: 53.8rem;
            height: 22rem;
            background: $color-second-very-light-gray;
            padding: 0 4rem 4rem 4rem;
            &:not(:last-child){
                 margin-right:3.2rem;
            }
           
            &--avatar{
                height: 7.4rem;
                width: 7.4rem;
                border-radius: 100%;
                transform: translateY(-50%);
            }
            &--name{
                color:$color-second-very-dark-blue;
                font-weight: $font-weight-4;
                margin-bottom: 2.4rem;
            }
            &--content{
                width: 100%;
                text-align: center;
            }
        }
    }

    &__cta{
       @include MainBtn(1.4rem,3rem,$color-primary-bright-red,$color-second-very-pale-red);
       &:active,&:hover{
        background: $color-hover;
       }
    }

}

@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-56rem));
    }
}